<div class="form-field">
  <p><strong><%= t[:desc] %></strong></p>
  <div class="form-state-values-box" id="js-form-state-values-box">
    <% t[:values].each do |v| %>
      <div class="form-state-box"
        id="js-form-state-box"
        data-name="<%= t[:name] %>"
        data-value="<%= v %>"
        data-selected="<%= @property_form.send(t[:name]) == v %>">
        <%= v %>
      </div>
    <% end %>
  </div>
  <%= simple_form_for(@property_form, remote: true) do |f| %>
    <input name="property_form[<%= t[:name] %>]" class = "hidden" id="property_form_<%= t[:name] %>" value="<%= t[:values][0] %>" />
    <%= f.submit class:"hidden form-field-submit-button"%>
  <% end %>
</div>
