<div class="form-field-label">
  <%= image_tag t[:icon], class: "form-icon" %>
  <strong><%= t[:desc] %></strong>
</div>
<div class="form-input">
  <%= simple_form_for(@property_form, remote: true) do |f| %>
    <%= f.input t[:name], label: false,  placeholder: t[:unit] %>
    <%= f.submit class:"hidden form-field-submit-button" %>
  <% end %>
</div>
