<div class="form-section">
  <div class="row">
    <% fields.each do |t| %>
      <% if t[:input_type] == 'state_box' %>
        <div class="col-xs-12">
          <div class="form-field">
            <%= render 'property_forms/form_fields/state_field', fields: fields, t: t %>
          </div>
        </div>
      <% else %>
        <% if fields.length == 1 %>
          <div class="col-xs-12">
            <div class="form-field">
              <% if t[:input_type] == 'text' %>
                <%= render 'property_forms/form_fields/text_field', fields: fields, t: t %>
              <% elsif t[:input_type] == 'boolean' %>
                <%= render 'property_forms/form_fields/boolean_field', fields: fields, t: t %>
              <% end %>
            </div>
          </div>
        <% elsif fields.length == 2 %>
          <div class="col-xs-12 col-sm-6">
            <div class="form-field">
              <% if t[:input_type] == 'text' %>
                <%= render 'property_forms/form_fields/text_field', fields: fields, t: t %>
              <% elsif t[:input_type] == 'boolean' %>
                <%= render 'property_forms/form_fields/boolean_field', fields: fields, t: t %>
              <% end %>
            </div>
          </div>
        <% else%>
          <div class="col-xs-12 col-sm-4">
            <div class="form-field">
              <% if t[:input_type] == 'text' %>
                <%= render 'property_forms/form_fields/text_field', fields: fields, t: t %>
              <% elsif t[:input_type] == 'boolean' %>
                <%= render 'property_forms/form_fields/boolean_field', fields: fields, t: t %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

