<div class="main-section">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="form-container">
        <div class="form-title text-center">
          <h1>Parlez-nous un peu de vous</h1>
          <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 disclaimer">
              <!-- DISCLAIMER ON LARGE SCREENS -->
              <div class="hidden-xs visible-sm visible-md visible-lg">
                <div class="disclaimer-container">
                  <%= image_tag 'freedom', class: "disclaimer-icon" %>
                  <p><i>Fournir ces informations ne vous <strong>engage à rien</strong> : vous aurez l'entière liberté de nous attribuer le mandat ou non</i></p>
                </div>
                <div class="disclaimer-container">
                  <%= image_tag 'locked', class: "disclaimer-icon" %>
                  <p><i>Ces informations sont <strong>confidentielles</strong> : elles nous servent à prendre contact avec vous et ne seront pas partagées</i></p>
                </div>
              </div>
              <!-- DISCLAIMER ON SMALL SCREENS -->
              <div class="row visble-xs hidden-sm hidden-md hidden-lg text-center">
                <div class="col-xs-12">
                  <%= image_tag 'freedom', class: "disclaimer-icon" %>
                </div>
                <div class="col-xs-12">
                  <p><i>Fournir ces informations ne vous <strong>engage à rien</strong> : vous aurez l'entière liberté de nous attribuer le mandat ou non</i></p>
                </div>
                <div class="col-xs-12">
                  <%= image_tag 'locked', class: "disclaimer-icon" %>
                </div>
                <div class="col-xs-12">
                  <p><i>Ces informations sont <strong>confidentielles</strong> : elles nous servent à prendre contact avec vous et ne seront pas partagées</i></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-body">
          <%= render 'shared/personnal_information_form'%>
        </div>
      </div>
    </div>
  </div>
</div>







