<div class="main-section">
  <div class="banner-about" style="background-image: url('<%= image_url("about_image.jpeg") %>'); background-size: cover; background-position: center;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="banner-content">
            <div>
              <h1>Nous sommes convaincus que la transaction immobilière peut être améliorée</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="about-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h4>Notre histoire</h4>
          </div>
          <div class="col-xs-12">
            <h3>Nous vous aidons à commencer le prochain chapitre de votre vie</h3>
          </div>
          <div class="col-xs-12 col-sm-6">
            <p>
              Zenkey aspire à repenser la transaction la plus importante pour la grande majorité des Français : l'achat ou la vente d'un bien immobilier. Nous aidons de nombreux propriétaires à vendre leurs maisons ou leurs appartements dans le cadre d'un processus simple et transparent.
            </p>
          </div>
          <div class="col-xs-12 col-sm-6">
            <p>
              Nous travaillons avec des experts de l'immobilier et des passionnés de nouvelles technologies afin de vous permettre de vendre votre logement à un prix connu à l’avance et quand vous le souhaitez.
            </p>
          </div>
          <div class="col-xs-12">
            <h3>Rencontrez notre équipe</h3>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="team_picture">
              <%= image_tag "guillaume.png" %>
              <h5><strong>Guillaume Lestrade</strong></h5>
              <h5>CEO, co-fondateur</h5>
            </div>
            <div class="team-description">
              <p>Ancien agent immobilier, Guillaume a créé Zenkey afin de simplifier et rendre transparente l'expérience liée à la vente d'un bien immobilier. Auparavant, Guillaume a fondé Meero en 2014, le leader mondial de la photographie à destination des professionnels de l’immobilier (levée de fonds record de 15m€ en 2017 en Serie A).</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="team_picture">
              <%= image_tag "alban.png" %>
              <h5><strong>Alban Porcheron</strong></h5>
              <h5>COO, co-fondateur</h5>
            </div>
            <div class="team-description">
              <p>Alban travaille sur l'amélioration de l'expérience liée à la transaction immobilière pour tous les clients de Zenkey. Alban a accompagné des entrepreneurs dans leurs projets de fusions-acquisitions (KPMG et BNP Paribas). Alban a étudié à l'école Centrale Nantes et Audencia Nantes.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="team_picture">
              <%= image_tag "arthur.png" %>
              <h5><strong>Arthur Reboul</strong></h5>
              <h5>CTO, co-fondateur</h5>
            </div>
            <div class="team-description">
              <p>Arthur est en charge du développement des outils technologiques et des algorithmes de prix utilisés par Zenkey pour permettre de simplifier la transaction immobilière. Arthur était consultant dans le cabinet de conseil McKinsey. Arthur est diplômé de l'Ecole Polytechnique.</p>
            </div>
          </div>
        </div>
        <div class="text-center">
          <%= mail_to "contact@zenkey.co", "Nous contacter", class: "btn" %>
        </div>
      </div>
    </div>
  </div>
</div>
