<div class="main-section text-center">
  <div class="container">
    <div class="how-it-works-section">
      <div class="container">
        <h2>
          Vendre son bien immobilier avec Homepay
        </h2>
        <p>
          Acheter et vendre une maison marque le début d'un nouveau chapitre de vie. Nous pensons que vendre un bien immobilier devrait être simple et transparent. Nous travaillons avec les propriétaires pour leur apporter une expérience profondément simplifiée, apportant de la confiance et de la transparence à chaque étape de la vente d'un bien immobilier. Nous épargnons aux vendeurs les désagréments et les mois de stress liés à la mise en vente d'un bien immobilier.
        </p>
        <ul class="timeline">
          <div class="row">
            <div class="col-xs-12">
              <li class="timeline-step crucial-step">
                <div class="col-xs-12 col-sm-6 crucial-step-container">
                  <p>Vous demandez une offre.</p>
                </div>
              </li>
            </div>
            <div class="col-xs-12">
              <li class="timeline-step regular-step">
                <div class="col-xs-12 col-sm-6 col-sm-offset-6 step-container">
                  <%= image_tag "timeline_offer.png" %>
                  <p>Nos investisseurs partenaires préparent une offre ferme d'achat basée sur les données de marché et les informations que vous nous avez communiquées.</p>
                </div>
              </li>
            </div>
            <div class="col-xs-12">
              <li class="timeline-step regular-step">
                <div class="col-xs-12 col-sm-6 step-container">
                  <%= image_tag "timeline_review.png" %>
                  <p>
                    Vous examinez les différentes offres qui vous sont faites. Si une offre vous convient, nous organisons pour vous une visite confirmatoire avec l'acquéreur.
                  </p>
                </div>
              </li>
            </div>
            <div class="col-xs-12">
              <li class="timeline-step regular-step">
                <div class="col-xs-12 col-sm-6 col-sm-offset-6 step-container">
                  <%= image_tag "timeline_call.png" %>
                  <p>
                    Une fois le compromis de vente signé, nous vous accompagnons sur les différentes étapes de la vente.
                  </p>
                </div>
              </li>
            </div>
            <div class="col-xs-12">
              <li class="timeline-step regular-step">
                <div class="col-xs-12 col-sm-6 step-container">
                  <%= image_tag "timeline_knock.png" %>
                  <p>
                    La vente est finalisé en un rien de temps, et il ne vous reste plus qu'à démarrer un nouveau chapître de votre vie !
                  </p>
                </div>
              </li>
            </div>
          </div>
        </ul>
      </div>
    </div>
    <div class="how-it-works-section">
      <div class="container">
        <div class="form">
          <h2>Vendez votre logement en un clic</h2>
          <%= render 'shared/address_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
