<%= link_to 'Inscrivez-vous', "/requests/new?landing=#{@landing}" %>
<div class="main-section">
  <div class="banner" style="background-image: url('<%= image_url("banner_image.jpeg") %>'); background-size: cover; background-position: center;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="banner-content">
          <div>
            <h1>Ne payez plus pour vendre</h1>
            <%= render 'shared/address_form' %>
            <p>Recevoir des offres d'achat en seulement 48h sans frais d'agence... c'est possible !</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="banner-testimonials hidden-xs hidden-sm">
          <div class="banner-testimonial">
            <h4>En vente depuis 92 jours</h4>
            <p>15 visites et des mois de stress</p>
          </div>
          <div class="banner-testimonial banner-testimonial-homepay">
            <h4>Vendu avec Homepay</h4>
            <p>"Meilleure expérience de vente de ma vie"</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="landing-prop">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-4 landing-prop-item" id="js-value-prop-sale">
        <%= render 'pages/features/free' %>
      </div>
      <div class="col-xs-12 col-sm-4 landing-prop-item"  id="js-value-prop-move">
        <%= render 'pages/features/value' %>
      </div>
      <div class="col-xs-12 col-sm-4 landing-prop-item"  id="js-value-prop-certainty">
        <%= render 'pages/features/flexible' %>
      </div>
    </div>
  </div>
</div>
  <div class="landing-steps">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="landing-steps-title text-center">
            <h2>Vendez simplement avec Homepay</h2>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="landing-step" id="landing-first-step">
            <div class="col-xs-12 col-md-offset-1 col-md-4 col-md-push-6">
              <div class="landing-step-img text-center">
                <%= image_tag 'step_1.png' %>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-md-pull-4">
              <div class="landing-step-card">
                <h4 class="text-center">1</h4>
                <h3>Décrivez votre bien</h3>
                <p>Répondez à quelques questions et envoyez-nous quelques photos. Nous les enverrons à des acquéreurs présélectionnés.</p>
                <%= link_to "Commencez", new_property_form_path %> | <%= link_to "En savoir plus", how_it_works_path %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="landing-step" id="landing-second-step">
            <div class="col-xs-12 col-md-4 col-md-offset-1">
              <div class="landing-step-img text-center">
                <%= image_tag 'step_2.png' %>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="landing-step-card">
                <h4 class="text-center">2</h4>
                <h3>Recevez des offres</h3>
                <p>Les acquéreurs professionnels que nous avons présélectionnés vous formulerons une offre d'achat en seulement quelques jours.</p>
                <%= link_to "Commencez", new_property_form_path %> | <%= link_to "En savoir plus", how_it_works_path %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="landing-step" id="landing-third-step">
            <div class="col-xs-12 col-md-offset-1 col-md-4 col-md-push-6">
              <div class="landing-step-img text-center">
                <%= image_tag 'step_3.png' %>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-md-pull-4">
              <div class="landing-step-card">
                <h4 class="text-center">3</h4>
                <h3>Choisissez la meilleure option pour vous</h3>
                <p>Vous pouvez choisir une des offres qui vous a été formulées et organiser une visite confirmatoire en fonction de vos disponibilités. Vous n'avez aucune obligation.</p>
                <%= link_to "Commencez", new_property_form_path %> | <%= link_to "En savoir plus", how_it_works_path %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 text-center">
          <div class = "btn-feature text-center">
            <%= link_to "En savoir plus", how_it_works_path, class: "btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-advantages">
    <div class="container">
      <div class="row">
        <h2 class="text-center">Les avantages Homepay</h2>
        <div class="col-xs-12 col-sm-6">
          <div class="text-center">
            <%= image_tag "logo_name.png", alt: "logo" %>
          </div>
          <ul>
            <li>
              <i class="fas fa-check-circle"></i>
              Offre d'achat envoyée en quelques jours
            </li>
            <li>
              <i class="fas fa-check-circle"></i>
              Financement de nos offres garanti
            </li>
            <li>
              <i class="fas fa-check-circle"></i>
              Une seule visite pour votre bien
            </li>
            <li>
              <i class="fas fa-check-circle"></i>
              Date de départ flexible
            </li>
            <li>
              <i class="fas fa-check-circle"></i>
              Pas de coûts liés à un prêt relais
            </li>
            <li>
              <i class="fas fa-check-circle"></i>
              Prise en charge des travaux par nos partenaires
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3>Vente traditionnelle</h3>
          <ul>
            <li>
              <i class="fas fa-minus-circle"></i>
              Délai de vente de 90 jours
            </li>
            <li>
              <i class="fas fa-minus-circle"></i>
              Financement non garanti de l'acquéreur
            </li>
            <li>
              <i class="fas fa-minus-circle"></i>
              Nombreuses visites pour votre bien
            </li>
            <li>
              <i class="fas fa-minus-circle"></i>
              Date de vente non flexible
            </li>
            <li>
              <i class="fas fa-minus-circle"></i>
              Travaux à la charge du vendeur
            </li>
            <li>
              <i class="fas fa-minus-circle"></i>
              Coûts additionnels (chevauchement de crédits immobiliers)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% if @faqs.length > 0  %>
    <div class="landing-faq">
      <div class="container">
        <div class="row">
          <h2 class="text-center">Questions fréquentes</h2>
          <% @faqs.each do |faq| %>
            <div class="col-xs-12">
              <div class="question-wrapper" id="js-faq-question" data-question="<%= faq.id %>">
                <p>
                  <%= faq.question %>
                </p>
                <i class="fas fa-chevron-down"></i>
              </div>
              <div class="answer-wrapper hidden" id="js-faq-answer" data-answer="<%= faq.id %>">
                <p>
                  <%= faq.answer %>
                </p>
              </div>
            </div>
          <% end %>
          <div class="text-center">
            <%= link_to "Autres questions fréquentes", faqs_path, class: "btn" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="landing-contact text-center">
    <div class="container">
      <h2>Nous contacter</h2>
      <%= image_tag "contact.png" %>
      <p>Une question ou une suggestion ?</p>
      <p>Appelez-nous au <%= link_to "‭06 44 66 31 30‬", "tel:‭0644663130‬" %></p>
      <p>Email : <%= mail_to "contact@homepay.fr" %></p>
    </div>
  </div>
</div>

