<div class="main-section">
  <div class="banner" style="background-image: url('<%= image_url("banner-image.png") %>'); background-size: cover; background-position: center;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <div class="banner-content">
          <div>
            <h1>Vendez votre bien sans commission</h1>
            <%= link_to "Estimer gratuitement mon bien", "javascript:void(0)", class: "btn" %>
            <p>0% commission. Prix fixe de 1,990€. Expert local.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="landing-prop">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-4 landing-prop-item">
        <%= image_tag "price.svg" %>
        <h3>Vendez au meilleur prix</h3>
        <p>Nos conseillers ont une connaissance fine de votre marché et vous permettent de maximiser le prix de vente de votre bien </p>
      </div>
      <div class="col-xs-12 col-sm-4 landing-prop-item">
        <%= image_tag "time.svg" %>
        <h3>Vendez rapidement</h3>
        <p>Nous utilisons la technologie pour vous permettre d'accélérer la vente de votre bien</p>
      </div>
      <div class="col-xs-12 col-sm-4 landing-prop-item">
        <%= image_tag "free.svg" %>
        <h3>C'est gratuit</h3>
        <p>Nous sommes persuadés que nous pouvons vous apporter une qualité de service forte tout en préservant notre modèle gratuit et indépendant</p>
      </div>
    </div>
  </div>
</div>
  <div class="landing-steps">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="landing-steps-title text-center">
            <h2>Vendez simplement avec <strong>Zenkey</strong></h2>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="landing-step" id="landing-first-step">
            <div class="col-xs-12 col-md-offset-1 col-md-4 col-md-push-6">
              <div class="landing-step-img text-center">
                <%= image_tag 'step_1.png' %>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-md-pull-4">
              <div class="landing-step-card">
                <h3>Estimation de votre bien</h3>
                <p>Première étape obligée à toute vente immobilière, l’estimation ! Elle est réalisée en physique par l’un de nos agents connaissant parfaitement votre quartier. L’estimation de votre bien est sans engagement et gratuite.</p>
                <%= link_to "Commencez", new_property_form_path, class: "white-btn" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="landing-step" id="landing-second-step">
            <div class="col-xs-12 col-md-4 col-md-offset-1">
              <div class="landing-step-img text-center">
                <%= image_tag 'step_2.png' %>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="landing-step-card">
                <h3>Diffusion de votre annonce</h3>
                <p>Une annonce professionnelle vous permettra de réaliser une vente efficace. Nous faisons passer un photographe professionnel qui saura au mieux mettre en valeur votre bien. En 48h, nous créons votre annonce et la diffusons sur une vingtaine de sites d’annonce, dont Seloger, Explorimmo et Leboncoin.</p>
                <%= link_to "Commencez", new_property_form_path, class: "white-btn" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="landing-step" id="landing-third-step">
            <div class="col-xs-12 col-md-offset-1 col-md-4 col-md-push-6">
              <div class="landing-step-img text-center">
                <%= image_tag 'step_3.png' %>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-md-pull-4">
              <div class="landing-step-card">
                <h3>Vendez votre bien</h3>
                <p>Vous pourrez enfin rencontrer votre conseiller personnel. Il s'occupera de l'organisation des visites et de la qualification des dossiers de vos acheteurs potentiels. Si vous le souhaitez, nous pourrons assurer les visites pour vous (pour 500€ de plus par rapport au forfait total).</p>
                <%= link_to "Commencez", new_property_form_path, class: "white-btn" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="landing-step" id="landing-third-step">
            <div class="col-xs-12 col-md-4 col-md-offset-1">
              <div class="landing-step-img text-center">
                <%= image_tag 'step_4.png' %>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="landing-step-card">
                <h3>Accompagnement jusqu'à la signature</h3>
                <p>Nous allons vous accompagner tout au long du processus de vente, et nous vous aiderons notamment à réaliser toutes les démarches administratives afin de vous éviter les erreurs qui peuvent ralentir, stopper, ou annuler une vente.</p>
                <%= link_to "Commencez", new_property_form_path, class: "white-btn" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 text-center">
          <div class = "btn-feature text-center">
            <%= link_to "Estimer gratuitement mon bien", new_property_form_path, class: "btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-contact text-center">
    <div class="container">
      <h2>Nous contacter</h2>
      <%= image_tag "contact.png" %>
      <p>Une question ou une suggestion ?</p>
      <p>Appelez-nous au <%= link_to "‭06 44 66 31 30‬", "tel:‭0644663130‬" %></p>
      <p>Email : <%= mail_to "contact@zenkey.co" %></p>
    </div>
  </div>
</div>
