<div class="main-section">
  <div class="banner" style="background-image: url('<%= image_url("banner-image.png") %>'); background-size: cover; background-position: center;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
        <div class="banner-content">
          <div>
            <h1>La première agence immobilière <strong>gratuite</strong></h1>
            <%= link_to "Estimer gratuitement mon bien", "javascript:void(0)", class: "btn" %>
            <p>Vendre son bien immobilier avec un professionnel sans frais d'agence, c'est possible.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="landing-prop">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-4 landing-prop-item">
        <%= image_tag "price.svg" %>
        <h3>Vendez au meilleur prix</h3>
        <p>Nos conseillers ont une connaissance fine de votre marché et vous permettent de maximiser le prix de vente de votre bien </p>
      </div>
      <div class="col-xs-12 col-sm-4 landing-prop-item">
        <%= image_tag "time.svg" %>
        <h3>Vendez rapidement</h3>
        <p>Nous utilisons la technologie pour vous permettre d'accélérer la vente de votre bien</p>
      </div>
      <div class="col-xs-12 col-sm-4 landing-prop-item">
        <%= image_tag "free.svg" %>
        <h3>C'est gratuit</h3>
        <p>Nous sommes persuadés que nous pouvons vous apporter une qualité de service forte tout en préservant notre modèle gratuit et indépendant</p>
      </div>
    </div>
  </div>
</div>
  <div class="landing-steps">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="landing-steps-title text-center">
            <h2>Vendez simplement avec <strong>Zenkey</strong></h2>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="landing-step" id="landing-first-step">
            <div class="col-xs-12 col-md-offset-1 col-md-4 col-md-push-6">
              <div class="landing-step-img text-center">
                <%= image_tag 'step_1.png' %>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-md-pull-4">
              <div class="landing-step-card">
                <h3>Pilotez votre vente à partir d'un seul outil</h3>
                <p>Grâce à notre technologie révolutionnaire, pilotez et maitrisez la vente de votre bien immobillier. Vous pourrez notamment estimer la durée de vente de votre bien, suivre le nombre de vos visites et estimer la solvabilité d'une offre grâce à Zenkey.</p>
                <%= link_to "En savoir plus", how_it_works_path(landing: @landing), class: "white-btn" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="landing-step" id="landing-second-step">
            <div class="col-xs-12 col-md-4 col-md-offset-1">
              <div class="landing-step-img text-center">
                <%= image_tag 'step_2.png' %>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="landing-step-card">
                <h3>Un modèle indépendant et 100% gratuit</h3>
                <p>Chez Zenkey, nous souhaitons avoir une démarche claire et transparente. Nous nous rémunérons directement auprès des banques à travers notre service de courtage. Nous pouvons ainsi vous accompagner gratuitement et en toute indépendance lors de la vente de votre logement.</p>
                <%= link_to "En savoir plus", how_it_works_path(landing: @landing), class: "white-btn" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="landing-step" id="landing-third-step">
            <div class="col-xs-12 col-md-offset-1 col-md-4 col-md-push-6">
              <div class="landing-step-img text-center">
                <%= image_tag 'step_3.png' %>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-md-pull-4">
              <div class="landing-step-card">
                <h3>Un suivi personnalisé</h3>
                <p>Des conseils d’experts immobiliers vous accompagnent tout le long de la vente. Ils ont une connaissance précise de votre marché local et sont disponibles pour vous informez lorsque vous avez des questions.</p>
                <%= link_to "En savoir plus", how_it_works_path(landing: @landing), class: "white-btn" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 text-center">
          <div class = "btn-feature text-center">
            <%= link_to "Estimer gratuitement mon bien", new_property_form_path, class: "btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-contact text-center">
    <div class="container">
      <h2>Nous contacter</h2>
      <%= image_tag "contact.png" %>
      <p>Une question ou une suggestion ?</p>
      <p>Appelez-nous au <%= link_to "‭06 44 66 31 30‬", "tel:‭0644663130‬" %></p>
      <p>Email : <%= mail_to "contact@zenkey.co" %></p>
    </div>
  </div>
</div>
